# This workflow checks out code, builds an SBOM for the repository,
# and uploads it to Anchore Enterprise

name: Create and Upload Source SBOM

on:
  ### uncomment if you want to fire on every push
  #push:
  #  branches:
  #    - main
  ### build nightly or whatever period
  #schedule:
  #  - cron: '38 23 */14 * *'
  workflow_dispatch:
    inputs:
      mode:
        description: 'Manual Scan'  
        
jobs:

  create-and-push:
    runs-on: ubuntu-latest
    env:
      ANCHORECTL_URL: ${{ vars.ANCHORECTL_URL }}
      ANCHORECTL_USERNAME: ${{ vars.ANCHORECTL_USERNAME }}
      ANCHORECTL_PASSWORD: ${{ secrets.ANCHORECTL_PASSWORD }}
      # if $APPLICATION does not exist, create it with:
      # anchorectl application add ${APPLICATION}
      APPLICATION: ${{ github.event.repository.name }}
      # if $VERSION does not exist, create it with:
      # anchorectl application version add ${APPLICATION}@${VERSION}
      VERSION: v0.1
      

    steps:
                
    - name: Checkout Code
      uses: actions/checkout@v4
                            
    - name: Install Anchore CLI Tools
      run: |
        curl -sSfL https://anchorectl-releases.anchore.io/anchorectl/install.sh | sh -s -- -b ${HOME}/.local/bin v5.3.0
        curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b ${HOME}/.local/bin v0.105.0
        export PATH="${HOME}/.local/bin/:${PATH}"

    ### optional debug step
    - name: Verify Anchore Ready and Reachable
      run: |
        anchorectl version
        anchorectl system status 
        echo "$GITHUB_CONTEXT"
        
    - name: Generate SBOM and Push to Anchore Enterprise
      run: |
        syft -o syft-json . | anchorectl source add --wait --application ${APPLICATION}@${VERSION} --from - ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}@${GITHUB_SHA:0:7} 
        ### note 1: --wait is optional, though recommended IF you want to pull the vulnerability report or grab the sbom immediately 
        ### note 2: --application is also optional, though without this you will not (as of 5.3.0) see the sbom in the Anchore Web UI, only via "anchorectl source list"
        ### note 3: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}@${GITHUB_SHA:0:7} is just an arbitrary label for human readability, but the convention is to use the git repo name and commit hash for this.

    ### optional
    - name: Pull Vulnerability List
      run: |
        anchorectl source vulnerabilities ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}@${GITHUB_SHA:0:7} 
        ### from the command line you can use "anchorectl source vuln" or "anchorectl source vulns" to save keystrokes
        ### if you want this in other formats, add "-o json" or "-o csv"

    ### optional
    - name: Pull SBOM
      run: | 
        anchorectl source sbom -o spdx-json -f source.sbom.json ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}@${GITHUB_SHA:0:7}
        
    ### optional
    - name: Archive SBOM
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: source_sbom
        path: source.sbom.json
        retention-days: 14        
